@charset "utf-8";
/* CSS Document */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background:#2d3144;
	font-family: 'Open Sans', sans-serif;
}

.clear {
	clear:both;
}

/* Logo */

a.logo img {
	margin:0 auto;
}

a.logo:hover img {
	opacity:0.85;
}

/* Header */

header {
	padding:25px 0px;
	background:#fff;
	border-bottom:1px solid #CBD2E7;
}

/* Top Slider Area */

.top-slider {
	background: rgb(63,73,97); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(63,73,97,1) 0%, rgba(94,103,128,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,73,97,1)), color-stop(100%,rgba(94,103,128,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(63,73,97,1) 0%,rgba(94,103,128,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(63,73,97,1) 0%,rgba(94,103,128,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(63,73,97,1) 0%,rgba(94,103,128,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(63,73,97,1) 0%,rgba(94,103,128,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4961', endColorstr='#5e6780',GradientType=0 ); /* IE6-9 */
	padding: 60px 0;
	position: relative;
	box-shadow: inset 0px 1px 1px rgba(41, 42, 54, 0.35);
}

.top-slider h3 {
	color:#FFF;
	font-weight:bold;
	font-size:1.5em;
	margin:0 0 20px 0;
	text-shadow: 0px 1px 1px rgba(41, 42, 54, 0.35);
}

.top-slider p {
	color: #FFF;
	font-size: 1.125em;
	line-height: 1.5em;
	text-shadow: 0px 1px 1px rgba(41, 42, 54, 0.35);
}

/* Center Top Stuff */

.top-stuff {
	margin-top:28px;
}

/* Red Button */

.buttons {
	padding:30px 0 0 0;
}

a.redbutton {
	background:#e8434f;
	padding:15px 20px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border-bottom:1px solid #bc2934;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	display:inline-block;
	*display:inline;
	zoom:1;
}

a.redbutton:hover {
	background:#d63c47;
}

span.circled {
	color:#FFF;
	font-size:0.75em;
	font-style:italic;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	display:inline-block;
	*display:inline;
	zoom:1;
	background:rgba(0,0,0,0.25);
	padding:6px;
	margin:0 10px;
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(0, 0, 0, 0.25);
}

/* Basic Content */

.basic-content {
	position: relative;
	padding: 30px 0;
	background: #f2efea;
}

.content p, .basic-content p {
	color: #585753;
	line-height: 1.6em;
	padding: 10px 0;
}

.content img.bordered, .content img.bordered, .content p.bordered img {
    padding: 3px !important;
    background: #FFF;
    border: 1px solid #bcc1d4 !important;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
}

.basic-content h1, .basic-content h2, .basic-content h3, .basic-content h4, .basic-content h5, .basic-content h6 {
	color:#4a5067;
	font-weight:bold;
	text-transform:uppercase;
	padding: 15px 0;
}

.basic-content h1 {
	font-size:1.125em;
	text-transform:none;
}

.basic-content ul li {
	color:#585753;
	line-height: 1.4em;
	background: url(../images/list.png) 15px 19px no-repeat;
	padding: 8px 0px 8px 30px;
}

.basic-content a { color:#e8434f; text-decoration:none; }
.basic-content a:hover { text-decoration:underline; }

/* Form Fields */

.basic-content form {}


.basic-content form label {
	color: #4a5067;
	font-weight:bold;
	margin: 20px 0px 15px 0;
	display:block;
	font-size:0.875em;
}

.basic-content form label span {
	color:#e8434f;
}

.basic-content form input, .basic-content form select, .basic-content form textarea  {
	border: 1px solid #353a4e;
	color:#777C88;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.basic-content form input:focus, .basic-content form select:focus, .basic-content form textarea:focus {
	outline:none;
	border:1px solid rgb(232,67,79);
}

.basic-content form input, .basic-content form textarea {
	width:95%;
	padding:12px 2.5%;
	font-family:'Lato';
	color:#475372;
	background:#FFF;
}

.basic-content form textarea {
	overflow: auto;
    resize: vertical;  
}

.basic-content form select {
	padding: 12px 2.5%;
	width: 100%;
}

.basic-content form input[type="submit"], .basic-content form a.previous, .basic-content form a.next {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
	width:auto;
	text-shadow: 0px 1px 1px #373c51;
	display: inline-block;
	zoom: 1;
	*display:inline;
	position: relative;
	z-index: 100;
	color: #FFF;
	font-size: 0.875em;
	padding: 15px 25px;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #4c5774;
	background: rgb(97,110,144);
	background: -moz-linear-gradient(top, rgba(97,110,144,1) 0%, rgba(82,94,126,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,110,144,1)), color-stop(100%,rgba(82,94,126,1)));
	background: -webkit-linear-gradient(top, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
	background: -o-linear-gradient(top, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
	background: -ms-linear-gradient(top, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
	background: linear-gradient(to bottom, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.basic-content form input[type="submit"]:hover, .basic-content form a.previous:hover, .basic-content form a.next:hover { background: rgb(97,110,144); }

.basic-content form .previous { float:left; }
.basic-content form .next { float:right; }

.basic-content form .move {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #C1C5D3;
}

.basic-content form .move label { margin:0; font-weight:normal; }
.basic-content form .move label span { font-weight:bold; }

.basic-content form label.right {
	margin: 15px 0;
	padding-left:20px;
	color:#4a5067;
	font-weight:normal;
}

.basic-content form input[type="radio"], .basic-content form input[type="checkbox"] {
	width:auto;
	margin:0;
	padding:0;
	border:none;
	float:left;
}

.Actions {
	margin:15px 0 0 0;
}







/* Carousel Section */

.carousel-area {
	position:relative;
	padding:40px 0px 0px 0px;
	background:#f2efea;
}

.zig {
	height:5px;
	width:100%;
	position:absolute;
	top:-5px;
	left:0;
	right:0;
	background:url(../images/zig.png) bottom left repeat-x;
	background:url(../images/zig.svg) bottom left repeat-x, none;
}

h3.header {
	color:#353a4e;
	font-size:1.3125em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	padding:0 0 30px 0;
	margin:0;
	border-top:1px solid #d6cfc3;
	position:relative;
	top:12px;
}

h3.header span {
	background:#f2efea;
	position:relative;
	top:-12px;
	padding:0px 30px;
}

/* Four! */

a.slide {
	display:block;
	border:1px solid #d6cfc3;
	padding:8px;
	background:#FFF;
	text-decoration:none;
}

a.slide:hover .slideimage img {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}

.slideimage {
	position:relative;
	overflow:hidden;
}

.slideimage img {
	max-width:100%;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.slideimage h5 {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:rgba(232,67,79,0.9);
	padding:8px 0;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
}

.slidetext p {
	color:#4b4c51;
	text-align:center;
	padding:12px 0;
	line-height:1.4em;
}

.feature-item {
    margin-bottom:40px;
}

.feature-item .slidetext{
    min-height:115px;
}

/* Pricing Section */

.pricing-area {
	position:relative;
	padding:40px 0;
	background:#353a4e;
}

.pricing-area h3.header {
	color:#fff;
	font-size:1.3125em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	margin: 0;
	border-top:1px solid #25293a;
	position:relative;
	top:12px;
}

.pricing-area h3.header span {
	background:#353a4e;
	position:relative;
	top:-12px;
	padding:0px 30px;
}

.pricing-area p {
	color:#b8bed8;
	line-height:1.6em;
	text-align:center;
}

/* Call To Action */

.call-area {
	position:relative;
	border-top:2px solid #1b1e2c;
	text-align:center;
	padding:40px 0;
	background: rgb(38,42,59); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(38,42,59,1) 0%, rgba(27,30,43,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,42,59,1)), color-stop(100%,rgba(27,30,43,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(38,42,59,1) 0%,rgba(27,30,43,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(38,42,59,1) 0%,rgba(27,30,43,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(38,42,59,1) 0%,rgba(27,30,43,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(38,42,59,1) 0%,rgba(27,30,43,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262a3b', endColorstr='#1b1e2b',GradientType=0 ); /* IE6-9 */
}

.call-area a.redbutton {
	font-size:1.125em;
	padding:20px 40px;
}

/* Contact Section */

.contact-area {
	position:relative;
	padding:30px 0;
	background:#f2efea;
	border-top:2px solid #e8434f;
}

.contact-area h3.contact-header {
	color: #4a5067;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 0px 15px 0px;
	margin: 15px 0px;
	border-bottom:1px solid #DAD7D1;
}

.contact-area p {
	color:#585753;
	line-height:1.6em;
	padding: 10px 0;
}

.contact-area strong {
	font-weight: bold;
	color: #4a5067;
}

.contact-area i {
	font-style: italic;
}

.contact-area h1, .contact-area h2, .contact-area h3, .contact-area h4, .contact-area h5, .contact-area h6 {
	color: #4a5067;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 0px 10px 0px;
}

.contact-area ul li, .contact-area ol li {
	color:#585753;
	line-height: 1.4em;
	color: #6d717b;
	background: url(../images/list.png) 15px 19px no-repeat;
	padding: 8px 0px 8px 30px;
}
.contact-area a { color:#e8434f; text-decoration:none; }
.contact-area a:hover {}

.contact-area form.contact { padding: 0px 0px 10px 0px; }
.contact-area form.contact .half {
	float:left;
	width:48%;
	margin-right:4%;
}
.contact-area form.contact .half.last {
	margin-right:0;
}
.contact-area form.contact .full {
	float:left;
	width:100%;
}

.contact-area form.contact input[type="email"], .contact-area form.contact input[type="text"], .contact-area form.contact textarea {
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	border:1px solid #353a4e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	padding:14px 5%;
	width:90%;
}
.contact-area form.contact input[type="email"]:focus, .contact-area form.contact input[type="text"]:focus, .contact-area form.contact textarea:focus {
	border:1px solid #e8434f;
	outline:none;
}
.contact-area form.contact label {
	color:#4a5067;
	font-size:0.875em;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	padding: 15px 0px 10px 0px;
}
.contact-area form.contact textarea {
	resize: vertical;
	padding:14px 2.5%;
	width:95%;
}
.contact-area form.contact input[type="submit"] {
	float: right;
	cursor: pointer;
	background: #e8434f;
	margin: 10px 0px 0px 0px;
	padding: 15px 25px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.contact-area form.contact input[type="submit"]:hover, .contact-area form.contact input[type="submit"]:focus {
	background:#d63c47;
	outline:none;
}

.contact-area form.contact .field {
    width: 48%;
    float:left;
}

.contact-area form.contact .field:nth-child(odd) {
    margin-right: 4%;
} 

.contact-area form.contact .field.textarea {
    width: 100%;
    margin-right: 0%;
}

form label.required {
    color: red;
}


/* Footer */

footer {
	background:#353a4e;
	border-top:2px solid #e8434f;
	border-bottom:1px solid #41465d;
	padding:40px 0;
}

footer img {
	max-width:100%;
	padding:5px 0px;
}

footer h6 {
	color:#FFF;
	font-style:italic;
	text-align:center;
	padding:5px 0px 0px 0px;
}

footer .swap {
	position:relative;
	border:1px solid #1f2331;
	margin:16px 0px 0px 0px;
}

footer .swap a {
	width:50%;
	background:#2d3144;
	float:left;
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	padding:26px 0;
	text-align:center;
}

footer .swap a:hover {
	color:#e8434f;
	background: #353a4e;
}

.footer-bottom .plink {
    margin: 0 10px;
}

footer .line {
	width:1px;
	background:#1f2331;
	position:absolute;
	top:0;
	bottom:0;
	left:50%; 
	margin-left:-1px;
}

footer .or {
	text-indent:-9999px;
	width:23px;
	height:23px;
	background:url(../images/sprite.png) -38px 0 no-repeat;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-12px;
	z-index:2;
}

footer h5 {
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	margin: 0 0 5px 0;
}

footer p {
	color:#FFF;
	padding:5px 0px;
	line-height:1.6em;
	font-size:0.75em;
}

footer p strong {
	font-weight:bold;
}
/* Footer Bottom */

.footer-bottom {
	border-top:1px solid #1c1f2d;
	background:#2d3144;
	padding:20px 0;
}

.footer-bottom p {
	color:#8a91ad;
	font-size:0.75em;
}

.footer-bottom a {
	color:#8a91ad;
	text-decoration:none;
}

.footer-bottom a:hover {
	color: #FFFFFF;
}

.footer-bottom .last {
	text-align:right;
	float:right;
}



/* Payments Multi-Step Form */

.multistep {
    background: #3a4058;
    padding: 10px 0;
    position: relative;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.75);
    overflow:hidden;
    border-top: 2px solid #e8434f;
}

#form-steps {
    text-align:center;
    overflow:hidden;
}

#form-steps a {
    letter-spacing:0.015em;
    text-transform:uppercase;
    padding: 0;
    height:44px;
    line-height:44px;
    width:33.333%;
    background: rgb(38,42,59);
    color: #717892;
    text-decoration: none;
    display: block;
    font-size: 1em;
    float:left;
    position:relative;
}

#form-steps.three a {
    width: 33.333%;
}

#form-steps a:before {
    content: '';
    position: absolute;
    left: 100%;
    top: -10px;
    border: 32px solid transparent;
    border-left-color: #3a4058;
    z-index: 8;
}

#form-steps a:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border: 22px solid transparent;
    border-left-color: rgb(38,42,59);
    z-index: 9;
}

#form-steps a:hover {
    background:#e8434f;
    color:#FFF;
}

#form-steps a:hover:after {
    border-left-color: #e8434f;
}

#form-steps a.current {
    background: #e8434f;
    color: #fff;
    font-weight:bold;
}

#form-steps a.done {
    background: #e8434f;
    color: #921C24;
    font-weight:bold;
}

#form-steps a.current:after, #form-steps a.done:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border: 22px solid transparent;
    border-left-color: #e8434f;
    z-index: 9;
}

#form-steps a.current:hover, #form-steps a.done:hover {
    background: #e8434f;
}

#form-steps a.last:before, #form-steps a.last.current:before, #form-steps a.last.done:before {
    border:none;
}

#form-steps a.last:after, #form-steps a.last.current:after, #form-steps a.last.done:after {
    border:none;
}

/* Payment Form Fields */

.payment-form {
    position: relative;
    padding: 30px 0px 50px 0px;
    background: #f2efea;
    border-top: 2px solid #e8434f;
}


.payment-form label,.payment-form .item-summary .st {
	line-height:1em;
    color: #4a5067;
    font-weight:bold;
    margin: 20px 0px 15px 0;
    padding: 0;
    display:block;
    font-size:0.875em;
}

.payment-form ul.optionset li label, .payment-form label.right {
	padding-left:25px;
}

.payment-form label span {
    color:#e8434f;
}

.composite img {
	display:inline;
	display:inline-block;
	margin:5px 5px 5px 0px;
}

.payment-form input, .payment-form select, .payment-form textarea  {
    border: 1px solid #353a4e;
    color:#777C88;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.payment-form input:focus, .payment-form select:focus, .payment-form textarea:focus {
    outline:none;
    border:1px solid rgb(232,67,79);
}

.payment-form input, .payment-form textarea {
    width:95%;
    padding:12px 2.5%;
    font-family:'Lato';
    color:#475372;
    background:#FFF;
}

.payment-form textarea {
    overflow: auto;
    resize: vertical;  
}

.payment-form select {
    padding: 12px 2.5%;
    width: 100%;
}

.payment-form input[type="submit"], .payment-form a.previous, .payment-form a.next {
	margin:0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
    width:auto;
    text-shadow: 0px 1px 1px #373c51;
    display: inline-block;
    zoom: 1;
    *display:inline;
    position: relative;
    z-index: 100;
    color: #FFF;
    font-size: 0.875em;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #4c5774;
    background: rgb(97,110,144);
    background: -moz-linear-gradient(top, rgba(97,110,144,1) 0%, rgba(82,94,126,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,110,144,1)), color-stop(100%,rgba(82,94,126,1)));
    background: -webkit-linear-gradient(top, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
    background: -o-linear-gradient(top, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
    background: -ms-linear-gradient(top, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
    background: linear-gradient(to bottom, rgba(97,110,144,1) 0%,rgba(82,94,126,1) 100%);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.payment-form .previous, #PaymentMultiForm_PaymentMultiForm_action_prev { float:left; }
.payment-form .next, .payment-form #PaymentMultiForm_PaymentMultiForm_action_next, .payment-form #PaymentMultiForm_PaymentMultiForm_action_finish { float:right; }

.payment-form .middleColumn { margin: 0 0 10px 0; }

.payment-form a {
	color: #e8434f;
	text-decoration: none;
}

.payment-form a:hover {
	text-decoration: underline;
}

.payment-form .move {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #C1C5D3;
}

.payment-form .move label { margin:0; font-weight:normal; }
.payment-form .move label span { font-weight:bold; }

.payment-form .contact-options label {
    margin: 15px 0;
    padding-left:20px;
    color:#4a5067;
    font-weight:normal;
}

.payment-form input[type="radio"], .payment-form input[type="checkbox"] {
    width:auto;
    margin:0;
    padding:0;
    border:none;
    float:left;
}

.payment-form .PaymentSecondFormStep h2 {
    color: #4a5067;
    font-weight: bold;
    margin: 20px 0px 15px 0;
    display: block;
    font-size: 1em;
    padding: 15px 0 15px 0;
	border-bottom: 1px solid #E0E0E0;
}

.payment-form .Actions {
	padding-top:15px;
	margin-top:30px;
	border-top: 1px solid #E0E0E0;
}

#Amount {
	float:left;
	width:48%;
}

.item-summary {
	float:left;
	width:48%;
	margin-left:4%;
}

.payment-form .item-summary .st-price {
	line-height:1em;
	padding: 12px 0;
	margin: 0;
	background: #E6E3DE;
	border: 1px solid #BEBEBE;
	color: #4a5067;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
}

span.amount {
	color:#e8434f;
}

p.pickup {
	font-size:0.875em;
	line-height:1.25em;
	margin-top:30px;
	background-color:#353a4e;
	color:#FFFFFF;
	padding:12px;
	font-weight:bold;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-o-border-radius: 3px 3px 0px 0px;
	-ms-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.map-container {
	border: 1px solid #353a4e;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-o-border-radius: 0px 0px 3px 3px;
	-ms-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	overflow: hidden;
	margin:0px 0px 15px 0px;
}

.embed-container {
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}

form fieldset .message.required, label.error {
    color: red;
}

.payment-form form #Terms {
    position: relative;
}

.payment-form form #Terms label.error{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}






@media all and (max-width: 1140px) {

	/* Clears */
	
	.clear-query {
		clear: both;
	}
	
	/* Featured Items */
	
	.feature-item .slidetext{
	    min-height: 140px;
	}
	
	.feature-item {
		margin-bottom: 30px;
	}
		
	/* Center Top Stuff */

	.top-stuff {
		margin-top: 24px;
	}
	
	.top-slider p {
		font-size: 1em;
	}
	
	/* Footer 'Swap' */
	
	footer .swap a {
		width:100%;
	}
	
	footer .line {
		left:0;
		right:0;
		top:50%;
		margin-left:0;
		margin-top:-1px;
		bottom:auto;
		height:1%;
		width:auto;
	}
	
}

@media all and (max-width: 768px) {
	
	/* Clear */
	
	.clear-mobilequery {
		clear:both;
	}
	
	/* Top Stuff */
	
	.top-slider {
		padding: 30px 0px;
	}
	
	.top-stuff {
		text-align:center;
		margin:0;
		padding:30px 0px 20px 0px;
	}
	
	.flexslider {
		margin: 10px 0px 0px 0px;
	}
	
	/* Four Things */
	
	.carousel-area .col3 {
		width:48%;
		margin-right:3%;
		float:left;
	}
	
	.carousel-area .col3.second, .carousel-area .col3.last {
		margin-right:0;
	}
	
	a.slide {
		/* max-width:260px; */
		margin: 0 auto;
	}
	
	/* Footer */
	
	footer {
		text-align:center;
	}
	
	footer img {
		margin: 0 auto 30px auto;
	}
	
	footer .swap {
		margin: 16px 0px 30px 0px;
	}
	
	/* Footer Bottom */
	
	.footer-bottom {
		text-align:center;
	}
	
	.footer-bottom .last {
		text-align:center;
		padding-top:15px;
	}
	
	
   /* Multi-Step Form */
    
    #form-steps a {
        width: 100%;
        border-bottom: 5px solid #3a4058;
    }
    
    #form-steps a.last {
        border-bottom: none;
    }
    
    
}

/* Small Mobile View */


@media all and (max-width: 480px) {

	/* Four Things */
	
	.carousel-area .col3 {
		width: 100%;
		margin-right: 0%;
	}
	
	.carousel-area .col3.second, .carousel-area .col3.last {
		margin-right:0;
	}
	
}