@font-face {
    font-family: 'AvenirLTStd45Book';
    src: url('avenirltstd-book_0.eot');
    src: url('avenirltstd-book_0.eot') format('embedded-opentype'),
         url('avenirltstd-book_0.woff') format('woff'),
         url('avenirltstd-book_0.ttf') format('truetype'),
         url('avenirltstd-book_0.svg#AvenirLTStd45Book') format('svg');
}
