@charset "utf-8";

@import "icon.css?2";   /* Features -- import from icon.css */
@import "loanicon.css?2";   /* loan icons -- import from icon.css */

/* CSS Document */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
    overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  height: 100%;
  }

/* Body */

body {
	font-family: 'Proxima Nova', sans-serif;
	background-color:#393b41;
}

input {
	font-family: 'Proxima Nova', sans-serif;
}

p {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

/* Text Highlight */

::selection {
	color: #FFF;
	background: rgba(30, 194, 243, 0.75);
}

/* Global Styles */

.space {
	height:1px;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.hidden {
	display:none;
}

.clear {
	clear:both;
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

img.floatleft, .img.floatright {
	position:relative;
}

.alignleft {
	text-align:left;
}

.alignright {
	text-align:right;
}

/* Content -- cutted to css/typography.css file */

/* Contact Form */

.content label {
	color: #343b41;
	font-weight:bold;
	margin: 24px 0px 12px 0;
	display:block;
}

.content label span {
	color:#3e91b5;
}

.content input[type="text"], .content input[type="password"], .content input[type="email"], .content input[type="tel"], .content textarea  {
	border: 1px solid #9ea2a8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	-moz-box-shadow: inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	-o-box-shadow:inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	-ms-box-shadow: inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	box-shadow: inset 0px 3px 3px rgba(199, 201, 218, 0.25);
}

.content input[type="text"]:focus, .content input[type="password"]:focus, .content input[type="email"]:focus, .content input[type="tel"]:focus, .content textarea:focus {
	outline:none;
	border:1px solid #00C1F3;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(30, 194, 243, 0.5), inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	-moz-box-shadow: 0px 0px 3px 0px rgba(30, 194, 243, 0.5), inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	-o-box-shadow: 0px 0px 3px 0px rgba(30, 194, 243, 0.5), inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	-ms-box-shadow: 0px 0px 3px 0px rgba(30, 194, 243, 0.5), inset 0px 3px 3px rgba(199, 201, 218, 0.25);
	box-shadow: 0px 0px 3px 0px rgba(30, 194, 243, 0.5), inset 0px 3px 3px rgba(199, 201, 218, 0.25);
}

.content input[type="text"], .content input[type="password"], .content input[type="email"], .content input[type="tel"], .content textarea, .content input[type="file"] {
	width:100%;
	padding:15px;
	font-family:'Proxima Nova', sans-serif;
	color:#475372;
}

.content form input[type="submit"] {
	margin:9px 0;
}

.content textarea {
	overflow: auto;
    resize: vertical;  
}

form select {
	width:100%;
	padding:15px;
	position: relative;
	border: 1px solid #9EA2A8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px rgba(199, 201, 218, 0.15);
	-moz-box-shadow: 0px 1px 3px rgba(199, 201, 218, 0.15);
	box-shadow: 0px 1px 3px rgba(199, 201, 218, 0.15);
	background: rgb(240,242,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(240,242,244,1) 0%, rgba(231,235,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,242,244,1)), color-stop(100%,rgba(231,235,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(240,242,244,1) 0%,rgba(231,235,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(240,242,244,1) 0%,rgba(231,235,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(240,242,244,1) 0%,rgba(231,235,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(240,242,244,1) 0%,rgba(231,235,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f2f4', endColorstr='#e7ebee',GradientType=0 ); /* IE6-9 */
}

form select:hover {
	background: rgb(241,243,245); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(241,243,245,1) 0%, rgba(233,236,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,243,245,1)), color-stop(100%,rgba(233,236,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(241,243,245,1) 0%,rgba(233,236,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,243,245,1) 0%,rgba(233,236,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(241,243,245,1) 0%,rgba(233,236,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(241,243,245,1) 0%,rgba(233,236,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f5', endColorstr='#e9ecef',GradientType=0 ); /* IE6-9 */
}

.content select:focus {
	border:1px solid #00C1F3;
}

.content .middleColumn label {
	margin:0;
	padding: 9px 0 9px 25px;
	color:#6d717b;
	font-weight:normal;
	position:relative;

}
.content .field label{
	margin: 0px;
}
.content .optionset ul li{background: none ;line-height:0.5em;padding: 5px 0px 0px 0px ;};
.content .optionset label:hover {
	color:#343b41;
}

.content #Remember.field label, .content #Remember.field input {
    float: left;
    padding: 0 0.5em;
    margin: 1em 0;
}

fieldset .middleColumn {position: relative;}

.content .field label.required {
    color: #c82929;
    padding-left: 0;
    font-size: 0.9em;
}

/* Home Banner */

.home-banner {
	background:	url(images/mountain.jpg) center center no-repeat;
	background-size:cover;
	background-color: #F7F7F7;
	padding: 0 0 3em 0;
}

.home-banner header {
	padding:3em 0;
}

header nav.main-nav {
	float:right;
}

header nav.main-nav li {
	float:left;
	margin: 0px 0px 0px 10px;
}

header nav.main-nav a {
	display:block;
	background-color:transparent;
	color:#10333f;
	text-transform:uppercase;
	text-decoration:none;
	padding: 0 10px;
	line-height:30px;
	height:30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

header nav.main-nav a.active {
	font-weight:bold;
}

header nav.main-nav a:hover, header nav.main-nav li:hover a {
	background-color: #f2f4f5;
	background-color: rgba(16, 51, 63, 0.05);
    color: #071A20;
}

/* Home Banner Text Bit */

.home-banner .text-bit {
	text-align:center;
	padding:2em 0 5em 0;
}

.home-banner .text-bit h3 {
	font-size:2.25em;
	color:#384047;
	margin:0 0 0.35em 0;
}

.home-banner .text-bit h3 span {
	font-weight:bold;
}

.home-banner .text-bit p {
	color:#758C99;
	font-size:1.125em;
	line-height:1.5em;
}

.home-banner .text-bit #box-links {
	margin: 1.25em 0 0 0;
}

.home-banner .text-bit a, .landing-banner .text-bit a.button, .content a.content-button, .content input[type="submit"] {
	font-size:1.125em;
	*display:inline;
	display:inline-block;
	zoom:1;
	margin:0;
	padding:15px 20px;
	text-decoration:none;
	text-align:center;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid #0cb1e2;
	text-shadow: 0px 1px 1px #03a9d9;
	background: rgb(54,209,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(54,209,255,1) 0%, rgba(31,194,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,209,255,1)), color-stop(100%,rgba(31,194,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(54,209,255,1) 0%,rgba(31,194,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(54,209,255,1) 0%,rgba(31,194,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(54,209,255,1) 0%,rgba(31,194,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(54,209,255,1) 0%,rgba(31,194,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36d1ff', endColorstr='#1fc2f3',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px 0px #57d8ff;
	-moz-box-shadow:    inset 0px 1px 0px 0px #57d8ff;
	box-shadow:         inset 0px 1px 0px 0px #57d8ff;
	cursor:pointer;
	width:auto;
}

.home-banner .text-bit a:hover, .landing-banner .text-bit a.button:hover, .content a.content-button:hover, .content input[type="submit"]:hover {
	background: rgb(69,212,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,212,255,1) 0%, rgba(56,200,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,212,255,1)), color-stop(100%,rgba(56,200,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69,212,255,1) 0%,rgba(56,200,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69,212,255,1) 0%,rgba(56,200,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69,212,255,1) 0%,rgba(56,200,244,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69,212,255,1) 0%,rgba(56,200,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45d4ff', endColorstr='#38c8f4',GradientType=0 ); /* IE6-9 */
}

/* Header Logo */

a.logo {
	display: block;
	float: left;
}

a.logo img {}

/* Header Top */

header .header-top {
	padding: 0 0 20px 0;
	float:right;
}

/* Header Call */

header .call {
	float:left;
	padding:0 30px 0 0;
	margin:0 30px 0 0;
	border-right:1px solid #dae4e7;
}

header .call h5 {
	text-align:right;
	color:#1ec2f3;
	font-weight:bold;
	font-size:1.25em;
}

header .call a {
	text-align:left;
	color:#10333f;
	font-weight:bold;
	font-size:2.125em;
	text-decoration:none;
	position:relative;
	-webkit-transition: color 0.25s ease;
	-moz-transition: color 0.25s ease;
	-ms-transition: color 0.25s ease;
	-o-transition: color 0.25s ease;
	transition: color 0.25s ease;
}

header .call a:hover {
	color:#1ec2f3;
}

header .call a:after {
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

header .call a:hover:after {
	background-color: #dbe5e8;
}

/* Header Search */

header .header-top .head-search {
	float:left;
}

header .header-top form {
	position:relative;
}

header .header-top form input[type="text"] {
	width:180px;
	background-color:#FCFCFC;
	-webkit-box-shadow: inset 0px 3px 10px #ecf3f6;
	-moz-box-shadow: inset 0px 3px 10px #ecf3f6;
	box-shadow: inset 0px 3px 10px #ecf3f6;
	border:1px solid #d0dce2;
	color:#10333f;
	padding:18px;
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline:none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

header .header-top form input[type="text"]::-webkit-input-placeholder, header .header-top form input[type="text"]:-moz-placeholder, header .header-top form input[type="text"]::-moz-placeholder, header .header-top form input[type="text"]:-ms-input-placeholder { color:#a2b5bf; }

header .header-top form input[type="text"]:focus {
	border:1px solid #1ec2f3;
}

header .header-top form input[type="submit"] {
	background-image:url(images/sprite.png);
	background-color:transparent;
	background-position: 0px 0px;
	background-repeat:no-repeat;
	border:none;
	position:absolute;
	width:14px;
	height:13px;
	text-indent:-9999px;
	text-transform:uppercase;
	top:20px;
	right:20px;
	cursor:pointer;
	padding:0;
	margin:0;
	outline:none;
}

header .header-top form input[type="submit"]:hover {
	background-position: -14px 0px;
}

/* Tablet and Mobile Search */
	
header a.mn-search {
	display:none;
}

/* Header */

header.header {
	background:#FFFFFF;
	padding:30px 0;
}

header.header .header-top {
	background:#FFFFFF;
	padding: 10px 0px 20px 0px;
}

/* Landing Banner */

.landing-banner {
	background-image:url(images/pagebanner.jpg);
	background-size:auto;
	background-repeat:no-repeat;
	background-position: center 0px;
	background-color:#071518;
	padding: 6em 0;
	border-bottom: 2px solid #1ec2f3;
}

.landing-banner a.logo {
	margin: 0 auto;
	float:none;
	display:inline;
}

.landing-banner a.logo img {
	margin: 0 auto 2em auto;
}

.landing-banner .text-bit {
	text-align:center;
	padding:0;
}

.landing-banner .text-bit h3 {
	font-size:2em;
	font-weight:bold;
	color:#fff;
}

.landing-banner .text-bit h3 span {
	position:relative;
}

.landing-banner .text-bit h3 span:after {
	bottom: 2px;
	left: 0;
	width:100%;
	height:1px;
	background-color:#fff;
	opacity:0.15;
	content: " ";
	position: absolute;
	pointer-events: none;
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

.landing-banner .text-bit p {
	color:#d8e2e5;
	font-size:1.125em;
	line-height:1.5em;
	margin: 0.5em 0 2em 0;
}

/* Call To Action Area */

.calltoaction-area {
	background:#F3F3F3;
	padding:2em 0;
	text-align:center;
}

.calltoaction-area h3 {
	color:#343b41;
	font-size:1.5em;
	line-height:1.25em;
}

.calltoaction-area h3 span {
	font-weight:bold;
}

.calltoaction-area h3 a {
	line-height:1em;
	*display:inline;
	display:inline-block;
	zoom:1;
	background: #1ec2f3;
	font-size: 0.75em;
	margin: 0 0 0 1em;
	padding: 12px 12px 11px 12px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.calltoaction-area h3 a:hover {
	background: rgb(54,209,255);
}

/* Page Banner */

.page-banner {
	background-image:url(images/pagebanner.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#081619;
	padding: 3em 0;
	border-bottom:2px solid #1ec2f3;
	text-align:center;
}

.page-banner h1 {
	font-size:3em;
	color:#FFF;
	font-weight:bold;
}

.page-banner h1 span {
	position: relative;
}

.page-banner h1 span:after {
	bottom: 2px;
	left: 0;
	width:100%;
	height:1px;
	background-color:#fff;
	opacity:0.15;
	content: " ";
	position: absolute;
	pointer-events: none;
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

.page-banner p.breadcrumbs {
	font-size:0.75em;
	color:#c5d5da;
	margin-top:0.5em;
}

.page-banner p.breadcrumbs a {
	color:#c5d5da;
	text-decoration:none;
}

.page-banner p.breadcrumbs a:hover {
	color:#FFF;
}

/* Main Area */

.main-area {
	padding: 1em 0 0 0;
}

/* Sidebar Navigation */

.sidebarnav { padding: 3px 0; }

.sidebarnav h5 {
	color:#343b41;
	font-weight:bold;
	padding: 0.5em 0;
}

.sidebarnav h5 a {
	color:#343b41;
	text-decoration:none;
	position:relative;
	background-image:url(images/arrow.gif);
	background-position: center right;
	height:7px;
	background-repeat:no-repeat;
	padding-right:20px;
}

.sidebarnav h5 a:hover {
	color:#1ec2f3;
}

.sidebarnav li {
	padding: 0.5em 0;
}

.sidebarnav li a {
	color:#5b6265;
	font-size:0.875em;
	text-decoration:none;
}

.sidebarnav li a.active {
    position: relative;
	font-weight:bold;
}

.sidebarnav li a.active:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: -12px;
	background: #00C1F3;
	height: 4px;
	width: 4px;
	border-radius: 2px;
}

.sidebarnav li a.withchildren {
	background-image: url(images/arrow.gif);
	background-position: center right;
	height: 7px;
	background-repeat: no-repeat;
	padding-right: 20px;
}

.sidebarnav li a:hover {
	color:#1ec2f3;
}

.sidebarnav ul ul {
	padding: 0.5em 0 0 1.5em;
}

.sidebarnav ul ul li:last-child {
	padding-bottom: 0;
}

/* Sidebar Call2Actions */

a.sidebar-c2a span {
	position:absolute;
	top:0;
	left:0;
	display:block;
	margin: 0 auto;
	width:36px;
	height:36px;
	background-image:url(images/lineicons-small.png);
	background-image:url(images/lineicons-big.svg), none;
	background-repeat:no-repeat;
	background-position: 0px 0px;
	background-size: 180px 144px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.ie a.sidebar-c2a span {background-image:url(images/lineicons-small.png);}

a.sidebar-c2a:hover span {
	-webkit-transform: scale(1.15) rotate(4deg);
	transform: scale(1.15) rotate(4deg);
}

a.sidebar-c2a {
	display:block;
	color:#5b6265;
	text-decoration:none;
	margin:1em 0;
	padding: 5px 0 5px 45px;
	position:relative;
}

a.sidebar-c2a h5 {
	color:#1ec2f3;
	font-weight:bold;
}

a.sidebar-c2a p {
	margin:4px 0 0 0;
	font-size:0.75em;
}

a.sidebar-c2a span.a1 { background-position: 0px 0px; }
a.sidebar-c2a span.a2 { background-position: -36px 0px; }
a.sidebar-c2a span.a3 { background-position: -72px 0px; }
a.sidebar-c2a span.a4 { background-position: -108px 0px; }
a.sidebar-c2a span.a5 { background-position: -144px 0px; }
a.sidebar-c2a span.a6 { background-position: 0px -36px; }
a.sidebar-c2a span.a7 { background-position: -36px -36px; }
a.sidebar-c2a span.a8 { background-position: -72px -36px; }
a.sidebar-c2a span.a9 { background-position: -108px -36px; }
a.sidebar-c2a span.a10 { background-position: -144px -36px; }
a.sidebar-c2a span.a11 { background-position: 0px -72px; }
a.sidebar-c2a span.a12 { background-position: -36px -72px; }
a.sidebar-c2a span.a13 { background-position: -72px -72px; }
a.sidebar-c2a span.a14 { background-position: -108px -72px; }
a.sidebar-c2a span.a15 { background-position: -144px -72px; }
a.sidebar-c2a span.a16 { background-position: 0px -108px; }
a.sidebar-c2a span.a17 { background-position: -36px -108px; }
a.sidebar-c2a span.a18 { background-position: -72px -108px; }
a.sidebar-c2a span.a19 { background-position: -108px -108px; }
a.sidebar-c2a span.a20 { background-position: -144px -108px; }

/* Sidebar Loans List */

.loans-listing {
	padding: 9px 0;
}

.loans-listing li {
    position:relative;
}

.loans-listing li a {
	display:block;
	height:66px;
	padding:20px 0 20px 66px;
	line-height:26px;
	color:#5b6265;
	text-decoration:none;
	font-weight:bold;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.loans-listing li a span {
    top:0;
    left:0;
    position:absolute;
    background-image:url(images/icons-small.png);
    background-image: url(images/icons-med.svg), none;
    background-size: 406px auto;
	background-position:0px 0px;
	background-repeat:no-repeat;
    height:67px;
    width:58px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ie .loans-listing li a span {background-image:url(images/icons-small.png);}

.loans-listing li.second { margin-left:30px; }

.loans-listing li.cars a span { background-position: 0px 0px; }
.loans-listing li.boats a span { background-position: -58px 0px; }
.loans-listing li.caravans a span { background-position: -116px 0px; }
.loans-listing li.bikes a span { background-position: -174px 0px; }
.loans-listing li.trucks a span { background-position: -232px 0px; }
.loans-listing li.personal a span { background-position: -290px 0px; }
.loans-listing li.equipment a span { background-position: -348px 0px; }

.loans-listing li a:hover {
	color: #1ec2f3;
	padding-left:76px;
}

.loans-listing li a:hover span {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Dark Area */

.dark-area {
	background:#F7F7F7;
	border-bottom: 1px solid #E9E9E9;
	padding: 2em 0em;
}

.dark-area p, .dark-area h1, .dark-area h2, .dark-area h3, .dark-area h4, .dark-area h5, .dark-area h6 {
	color: #343b41;
	font-size: 1.25em;
	line-height: 1.45em;
	padding: 0.25em 0em;
	text-align: center;
	font-weight: bold;
}

.dark-area a, .dark-area a:link, .dark-area a:visited {
	color: #00C1F3;
	text-decoration: none;
	position: relative;
}

.dark-area a:hover, .dark-area a:focus {
	color: #00C1F3;
	text-decoration: none;
}

.dark-area a:after {
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #dbe5e8;
	content: " ";
	position: absolute;
	pointer-events: none;
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

.dark-area a:hover:after, .dark-area a:focus:after {
	background-color: #00C1F3;
}

/* White Area */

.white-area {
	padding:2em 0;
	background:#FFFFFF;
}

/* Middle Bit */

.middle-bit {
	text-align:center;
	margin:2em 0;
	border-top:1px solid #b1e6f6;
	padding-top: 1px;
}

body div.middle-bit.typography h5 {
	width:150px;
	color:#1ec2f3;
	font-size:0.875em;
	font-weight:bold;
	text-transform:uppercase;
	margin:0 auto 0.5em auto;
	position:relative;
	background-color:#FFF;
	top:-8px;
}

.middle-bit.typography h3 {
	color:#343b41;
	font-size:1.875em;
	font-weight:bold;
	margin:0 0 0.15em 0;
	padding-bottom: 0;
}

.middle-bit.typography p {
	color:#8c989e;
	line-height:1.25em;
}

/* Features -- import from icon.css */


/* Horizontal Loan Icons -- import from loanicon.css */


/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

a.loans-horiz h6 {
	margin:1em 0 0 0;
	font-weight:bold;
	color:#283641;
	font-size:0.875em;
	text-decoration:none;
	position:relative;
	top:0px;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}

a.loans-horiz:hover h6 {
	color:#1ec2f3;
	top:5px;
}

/* Collapsibles */

.collapsible-area {
	padding: 18px 0;
	border-bottom:1px solid #e2e9eb;
}

.collapsible-area:first-child {
	padding: 0 0 9px 0;
}

.collapsible {
	color:#343b41;
	font-weight:bold;
	font-size:1.5em;
	cursor:pointer;
	position:relative;
	padding-left:30px;
}

.collapsible span {
	display:block;
	position:absolute;
	left:0;
	top:2px;
	width:19px;
	height:19px;
	background-image:url(images/sprite.png);
	background-position: 0px -13px;
	background-repeat:no-repeat;
}

.collapsible.collapse-close span {
	background-position: -19px -13px;
}

.collapsible.collapse-open span {
	background-position: 0px -13px;
}

.content .collapsible-area .container p {
	font-size: 1.125em;
    padding: 18px 0 9px 0;
}

/* Jump To */

.jumpto { padding: 0 0 2em 0; }

.jumpto h5 {
	font-weight:bold;
	float:left;
	margin-right:9px;
	padding:26px 0;
}

.jumpto li {
	float: left;
	margin: 0 0 0 6px;
    position: relative;
}

.jumpto li a {
    position:relative;
    z-index:2;
    float:left;
    display:block;
    background-image:url(images/icons-small.png);
    background-image: url(images/icons-med.svg), none;
    background-size: 406px auto;
	background-position:0px 0px;
	background-repeat:no-repeat;
    height:67px;
    width:58px;
}

.jumpto li.cars a { background-position: 0px 0px; }
.jumpto li.boats a { background-position: -58px 0px; }
.jumpto li.caravans a { background-position: -116px 0px; }
.jumpto li.bikes a { background-position: -174px 0px; }
.jumpto li.trucks a { background-position: -232px 0px; }
.jumpto li.personal a { background-position: -290px 0px; }
.jumpto li.equipment a { background-position: -348px 0px; }

.jumpto li span {
    font-size:0.75em;
    padding:10px;
    background:rgba(0,0,0,0.9);
    color:#FFF;
    text-align:center;
    position:absolute;
    bottom:50%;
    left:50%;
    margin-left: -40px;
    width:80px;
    z-index:1;
    opacity:0;
    display:block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.jumpto li span:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(50% - 5px);
    bottom: -5px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: bottom;
    transition-property: bottom;
}

.jumpto li:hover span {
    bottom:120%;
    opacity:1;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.jumpto li a {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.jumpto li:hover a {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

/* Loans Listing Main */

.loans-mainlisting {}

.loan-listed {
	position:relative;
	padding:2em 0 2em 146px;
	border-top:1px solid #e1e9eb;
}

.loan-listed a.loan-icon-big {
	position:absolute;
	top:2em;
	left:0;
	max-width:15%;
}

a.loan-icon-big span {
    position:relative;
    z-index:2;
    float:left;
    display:block;
    background-image:url(images/icons-large.png);
    background-image: url(images/icons-med.svg), none;
    background-size: 840px auto;
	background-position:0px 0px;
	background-repeat:no-repeat;
    height:138px;
    width:120px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a.loan-icon-big:hover span {
    -webkit-animation-name: wobble-horizontal;
    animation-name: wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

a.loan-icon-big span.cars { background-position: 0px 0px; }
a.loan-icon-big span.boats { background-position: -120px 0px; }
a.loan-icon-big span.caravans { background-position: -240px 0px; }
a.loan-icon-big span.bikes { background-position: -360px 0px; }
a.loan-icon-big span.trucks { background-position: -480px 0px; }
a.loan-icon-big span.personal { background-position: -600px 0px; }
a.loan-icon-big span.equipment { background-position: -720px 0px; }


/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.loan-listed h5 {
	color:#343b41;
	font-size:1.3125em;
	font-weight:bold;
}

.loan-listed h5 a {
	color:#343b41;
	text-decoration:none;
}

.loan-listed h5 a:hover {
	color:#1ec2f3;
}

.loan-listed p {
	color:#5b6265;
	line-height:1.5em;
	padding:9px 0;
}

.loan-listed a.small-button, ul.search-results li a.moreinfo {
	*display:inline;
	display:inline-block;
	zoom:1;
	font-size:0.75em;
	background:#1ec2f3;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	padding:7px 7px 6px 7px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.loan-listed a.small-button:hover, ul.search-results li a.moreinfo:hover { background:rgb(54,209,255); }

/* Loan Page */

.content a.content-button {
	margin: 9px 0;
}

.loan-page-title {
	padding:0 0 18px 200px;
	position:relative;
}

.loan-page-title .icon-giant {
    position:absolute;
	top:0;
	left:0;
    z-index: 2;
    background-image: url(images/icons-giant.png);
    background-image: url(images/icons-med.svg), none;
    background-size: 1204px auto;
    background-position: 0px center;
    background-repeat: no-repeat;
    height: 194px;
    width: 172px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ie .loan-page-title .icon-giant {background-image: url(images/icons-giant.png);}

.loan-page-title .icon-giant.cars { background-position: 0px 0px; }
.loan-page-title .icon-giant.boats { background-position: -172px 0px; }
.loan-page-title .icon-giant.caravans { background-position: -344px 0px; }
.loan-page-title .icon-giant.bikes { background-position: -516px 0px; }
.loan-page-title .icon-giant.trucks { background-position: -688px 0px; }
.loan-page-title .icon-giant.personal { background-position: -860px 0px; }
.loan-page-title .icon-giant.equipment { background-position: -1033px 0px; }

/* Tabs */

.tabbed-area {
    padding: 9px 0;
}

.etabs { 
	margin: 0px; 
	padding: 0; 
	border-bottom: 1px solid #91989b;
}

.tab {
	background:#F5F7F8;
	display: block; 
	float:left; 	
	border: solid 1px #c4c4c4;
    border-bottom: none;
	position:relative;
	top:1px;
	-moz-border-radius: 3px 3px 0 0; 
	-webkit-border-radius: 3px 3px 0 0; 
	margin-right: 5px;
}

.tab a {
	text-decoration:none;
	color: #5b6265;
	line-height: 2em;
	display: block; 
	padding: 10px 20px; 
	outline: none;
}

.tab a:hover { 
	color: #1ec2f3;
	text-decoration: none; 
}

.tab.active {
	background:#FFF;
	border: solid 1px #91989b;
    border-bottom: none;
}

.tab.active a {
	color: #17ade4;
	font-weight: bold;
    border-bottom:1px solid #F5F7F8;
}

.tab.active a:hover {
    cursor: default;
}

.tab-container .panel-container { 
	background: #fff;
	border: solid 1px #343b41; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px;
}

.tab-content {
	padding:1.5em 1.5em 1em 1.5em;
	border-right:1px solid #91989b;
	border-bottom:1px solid #91989b;
	border-left:1px solid #91989b;
}

.tab-content .content.typography p {
    font-size: 0.9em;
    line-height: 1.5em;
}

/* Responsive Google Maps */

.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; margin: 10px 0; height: 0; overflow: hidden; max-width: 100%; height: auto; }
 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Contact Info */

.content ul.contact-info li {
	background:none;
	color:#343b41;
	font-size:1.5em;
	font-weight:bold;
	padding-left:30px;
	position:relative;
	padding:0 0 0 30px;
}

.content ul.contact-info li a {position: static;}

.content ul.contact-info li a::after {
	position:absolute;
	top:15px;
	left:0;
	height:16px;
	width:15px;
	background-image:url(images/sprite.png);
	background-repeat:;
}

ul.contact-info li.phone a::after { background-position: -42px 0px; background-color: #fff;}
ul.contact-info li.email a::after { background-position: -57px 0px; background-color: #fff;}
ul.contact-info li.location a::after { background-position: -72px 0px; background-color: #fff;}

/* Button */

.button {
    background:#1ec2f3;
    font-size: 1.125em;
    display: block;
    margin: 1em 0;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button:hover {
    background: rgb(54,209,255);
}

/* Search */

ul.search-results li { 
	border-bottom: 1px solid #D8DCEB;
	padding: 18px 0 36px;
	margin: 0 0 18px 0;
}

ul.search-results li a.title {
	text-decoration: none;
	color: #343b41;
	font-size: 1.5em;
	font-weight: 700;
}

ul.search-results li a.title:hover {
	color: #1ec2f3;
}

ul.search-results li a.moreinfo {
	margin: 0;
}

ul.search-results li p {
	color: #5b6265;
	font-size: 1em;
	line-height: 1.8em;
	padding: 9px 0px;
}

ul.search-results li:last-child { border-bottom: 0 none; }
ul.search-results li a.title { color: #1E3256; }

.pagination a {
	*display: inline;
	display: inline-block;
	zoom: 1;
	color: #fff;
	margin: 18px 0;
	text-align: center;
	font-size: 1.125em;
	border: none;
	padding: 12px 16px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	background-color: #1ec2f3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.pagination a:hover {
	background-color:rgb(54,209,255);
}
.pagination span { 
	background: #DFE4E6; 
	padding: 12px 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-size:1.125em;
	margin: 18px 0;
}

/* Footer */

footer .footer-top {
	padding:4em 0;
	background-color:#45474d;
	color:#FFF;
	width: 100%;
	float: left;
}

footer h5 {
    padding:0.5em 0;
	color:#FFF;
	font-size:0.875em;
	text-transform:uppercase;
	font-weight:bold;
	line-height:1.2em;
}

footer ul li {
	padding:0.5em 0;
    color:#969696;
}

footer ul li a {
	color:#dadbdd;
	text-decoration:none;
	line-height:1.2em;
	padding: 0;
	-webkit-transition: padding 0.3s ease;
	-moz-transition: padding 0.3s ease;
	-ms-transition: padding 0.3s ease;
	-o-transition: padding 0.3s ease;
	transition: padding 0.3s ease;
}

footer ul li a:hover {
	color:#FFFFFF;
	padding:0 0 0 5px;
}

.ft-call {
	text-align:center;
    padding:0.5em 0;
}

.ft-call h5 {
    text-transform: none;
    padding:0;
	color:#dadbdd;
	font-size:1.125em;
}

.ft-call a {
	color:#FFF;
	text-decoration:none;
	font-size:2.125em;
	font-weight:bold;
}

.ft-call a:hover {
    color:#1ec2f3;
}

.ft-call p {
	color:#dadbdd;
	font-style:italic;
	font-size:0.75em;
}

/* Footer Bottom */

.footer-bottom {
	padding:1em 0;
	background-color:#393b41;
	float: left;
	width: 100%;
}

.footer-bottom p {
	color:#8d8f98;
	font-size:0.75em;
}

.footer-bottom p a {
	color:#8d8f98;
	text-decoration:none;
}

.footer-bottom p a:hover { color:#FFFFFF; }

.footer-bottom .col6.last {
    text-align:right;
}

/* Media Queries */

@media all and (max-width: 1140px) {
	
	/* Home Header */
	
	header .header-top, header.header .header-top {
		padding:31px 0 0 0;
	}
	
	/* Tablet and Mobile Search */

	header a.mn-search {
		display:block;
	}
	
	header a.mn-search {
		background-color: rgba(32, 57, 77, 0.05);
		padding: 20px 21px 20px 20px;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		text-indent: -9999em;
		line-height: 22px;
		font-size: 1px;
		display: block;
		font-weight: 700;
		-webkit-border-radius: 26px;
		-moz-border-radius: 26px;
		border-radius: 26px;
	}
	
	header a.mn-search span {
		display:block;
		background-image: url(images/sprite.png);
		background-position: -14px 0px;
		background-repeat: no-repeat;
		width: 14px;
		height: 13px;
	}
	
	header a.mn-search:hover, header a.mn-search.active {
		background-color: #1ec2f3;
	}
	
	header a.mn-search:hover span, header a.mn-search.active span {
		background-position: -28px 0;
	}
	
	#mn-searchform form {
		-webkit-transition: none 125ms ease-out;
		-webkit-transition-delay: 0;
		-moz-transition: none 125ms ease-out 0;
		-o-transition: none 125ms ease-out 0;
		transition: none 125ms ease-out 0;
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		-o-transition-property: -o-transform, opacity;
		transition-property: transform, opacity;
		-webkit-transform-origin: 100% 0;
		-moz-transform-origin: 100% 0;
		-ms-transform-origin: 100% 0;
		-o-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scale(0, 0);
		-moz-transform: scale(0, 0);
		-ms-transform: scale(0, 0);
		-o-transform: scale(0, 0);
		transform: scale(0, 0);
		opacity: 0;
	}
	
	#mn-searchform form.active, header #mn-searchform form.active input[type="text"] {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
	
	header #mn-searchform form.active .arrow {
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #1ec1f3 transparent;
		border-color: transparent transparent #1ec1f3 transparent;
		position: absolute;
		top: 10px;
		right: 17px;
	}
	
	header #mn-searchform form input[type="text"] {
		border:1px solid #1ec2f3;
		width:auto;
		position: absolute;
		right: 0px;
		top: 20px;
		width: 380px;
		font-size: 1.125em;
		margin: 0;
		outline: none;
		font-style: italic;
	}
	
	header #mn-searchform form input[type="submit"] {
		display:none;
	}
	
	/* Home Page Header */
	
	.home-header a.logo img {
		max-width:150px;
	}
	
	.home-header nav.main-nav {
		text-align:center;
	}
	
	.home-header nav.main-nav li {
		margin:4px;
		float:none;
		display:inline;
		display:inline-block;
		zoom:1;
	}
	
	.home-header nav.main-nav li a {
		margin:0;
	}
	
}

@media all and (max-width: 768px) {
	
	/* Sidebar */
	
	.sidebarnav {
		float:left;
		width:48%;
		margin: 0 4% 0 0;
	}
	
	.sidebarc2a-area {
		float:left;
		width:48%;
	}
	
	
	/* Tabs */
	
	.tab { 
		float:none;
		border-bottom:none;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px; 
		margin-right: 0;
		text-align: center;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-ms-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		top:0;
	}
	
	.tab.active { 
		border-bottom:none;
	}
	
	/* Call To Action */
	
	.calltoaction-area h3 a {
		display:block;
		margin:1em 0 0 0;
	}
	
	/* Loans Sidebar Listing */
	
	.loans-listing li {
		float:left;
		width: 22.5%;
		margin: 1em 3% 1em 0;
	}
	
	.loans-listing li.fourth {
		margin:1em 0;
	}
	
	.loans-listing li.fifth {
		margin-left:13.25%;
	}
	
	.loans-listing li a {
		background-position: center 0;
		text-align: center;
		padding: 76px 0 0 0;
		margin: 0;
		height: auto;
	}
	
	.loans-listing li a:hover {
		padding-left:0;
	}
	
	.loans-listing li.second {
		margin-left: 0px;
	}
	
	.loans-listing li a span {
		left: 50%;
		margin-left: -29px;
	}
	
	/* Footer */
	
	footer ul {
		padding-bottom: 2em;
	}
	
	footer .col3 {
		float:left;
		width: 48%;
		margin: 0 3% 0 0;
	}
	
	footer .col3.second, footer .col3.last {
		margin: 0;
	}
	
	/* Footer Bottom */
	
	.footer-bottom .col6, .footer-bottom .col6.last {
		text-align:center;
	}
	
	.footer-bottom .col6.last p {
		margin:10px 0 0 0;
	}
	
}

@media all and (max-width: 620px) {
	
	/* Header */
	
	header a.logo {
		width:40%;
		margin: 0 3% 0 0;
	}
	
	header .call {
		text-align:right;
		float:none;
		border:none;
		padding:0;
		margin: 0;
	}
	
	header .call a {
		text-align:right;
	}
	
	header .header-top, header.header .header-top {
		padding: 0;
	}
	
	header .header-top {
		width:57%;
	}
	
	/* Search - Show Again */
	
	header .header-top .head-search {
		float: none;
		padding-top:11px;
	}
	
	header a.mn-search, header .arrow {
		display:none;
	}
	
	#mn-searchform form, header #mn-searchform form input[type="text"] {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
	
	header #mn-searchform form input[type="text"] {
		color:#10333f;
		background:none;
		border:none;
		border-bottom: 1px solid #BDCDD3;
		padding:12px 0 12px 10%;
		width: 100%;
		position: relative;
		top:auto;
		left:auto;
		right:auto;
		bottom:auto;
		font-size: 1em;
		margin: 0;
		outline: none;
		font-style: normal;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	header #mn-searchform form input[type="text"]:focus {
		border-bottom: 1px solid #1ec2f3;
	}
	
	header #mn-searchform form input[type="submit"] {
		display: block;
		left: 0;
		right:auto;
		top: 14px;
		background-position: -14px 0px;
	}
	
	header .header-top #mn-searchform form input[type="text"]::-webkit-input-placeholder, header .header-top #mn-searchform form input[type="text"]:-moz-placeholder, header .header-top #mn-searchform form input[type="text"]::-moz-placeholder, header .header-top #mn-searchform form input[type="text"]:-ms-input-placeholder { color:#10333f; }
    
    /* Loans Listing Main */
    
    .jumpto h5 { 
        float: none;
        text-align: center;
    }
    
    .jumpto li {
        float: left;
        margin:0 3% 0 0;
        width:22.5%;
    }
    
    .jumpto li a {
        float: none;
        margin: 0 auto;
    }
    
    .jumpto li.fourth {
        margin:0;
    }
    
    .jumpto li.fifth {
        margin-left:12.25%;
    }
    
    .jumpto li.secondline {
        z-index: 2;
    }

}

@media all and (max-width: 480px) {
    
    /* Loans Listing Main */
    
    .loan-listed {
        padding:190px 0 2em 0;
        text-align:center;
    }

    .loan-listed a.loan-icon-big {
        top:2em;
        max-width:100%;
        width:100%;
    }
    
    .loan-listed a.loan-icon-big span {
        margin:0 auto;
        float:none;
    }
    
    /* Loan Page */
    
    .loan-page-title {
        padding:200px 0px 0px 0px;
        text-align:center;
    }

    .loan-page-title .icon-giant {
        position:absolute;
        top:0;
        left:50%;
        margin-left:-86px;
    }
	
	/* Header */
	
	header a.logo, header .header-top {
		width:100%;
		float:none;
	}
	
	header a.logo img {
		margin: 0 auto;
	}
	
	header .header-top, header.header .header-top {
		padding-top:30px;
	}
	
	header .call, header .call h5 {
		text-align:center;
	}
	
	/* Feature */
	
	.feature { margin:1em 0 0 0; padding:120px 0 2em 0; text-align:center; }
	
	.feature .feature-icon {
		top:0;
		left:0;
		right:0;
		width:100%;
	}
	
	.feature .feature-icon img {
		margin:0 auto;
	}
	
	/* Footer */
	
	footer .col3 {
		width:99%;
		float:none;
	}
	
}


.content form#Form_Form .field.checkbox input {
    float:left;
    margin: 18px 0;
}

.content form#Form_Form .field.checkbox label.right {
    float:left;
}


form .middleColumn label.required {
    color:red;
}

form .field.requiredField label:after {
    color: #3e91b5;
    content: " *";
    font-weight: bold;
}
form .field.requiredField .middleColumn label:after{
	content:'';
}
.content .middleColumn ul li label {
    display: inline-block;
    vertical-align: middle;
	margin-left:-25px;
}

.optionset {
    clear: both;
}

