@charset "utf-8";
/* CSS Document */

input[type="checkbox"] {
	display: block;
	float: left;
	margin-top: 0px;
}

input[type="checkbox"] + label span {
	display: none;
}

label#truck-search, label#newsletter {
		font-size: 1.1em;
		margin-top: 0.1em;
}
.signup-right {top:-50px;}

input#sr-submit {
	padding: 0.2em 1em;
	width: 20%;
}

.submit {
	font-size: 1.3em;
}

label#truck-search-advanced {margin-top: -10px;}

#advanced-options { display:none; float:left; width: 100%; }
#advanced-options-wrapper { 
	float: left;
	width: 100%;
	 }
	 
.sign-up {
	float: right;
	width: 29%;
}

input#sr-submit.long {
	font-size: 1.1em;
	padding: 0.5em 0.8em 0.4em;
	text-transform: uppercase;
	width: 75%;
	float: right;
}

input.contact-dealer {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.transparent-btns_nav {
	background-color: #fff;
}

.menu-head-dashboard.fullwidth {
	float: left;
	width: 14%;
}

input#sr-submit {
	width: 18%;
	padding: 0.3em 1%;
	float: left;
}

.middle-col h1 {
	float: left;
	width: 100%;
}
