div.half{
	width: 480px;	
/*	margin-right: 10%;*/
	margin-left: 184px;
	float: left;
}

div.half.last{
/*	margin-left: 0%;*/
	margin-left: 50px;
}

div.page-contents{
	min-width: 1200px;
	width:100%;
	float: left;
}
 

.cms-container .CMSSettingsController .cms-edit-form .ui-tabs-nav li a { 
	font-weight: bold; line-height: 16px; padding: 8px 20px 8px; 
}

.cms-container .CMSPageEditController .cms-edit-form .ui-tabs-nav,
.cms-container .CMSSettingsController .cms-edit-form .ui-tabs-nav,
.cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav,
.cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav {
	border-bottom: none; float: right; margin: 8px 0 -1px 0; padding: 0 24px 0 0; 
}

/** -------------------------------------------- Page Edit Controller -------------------------------------------- */
.cms-container .CMSSettingsController, .cms-container .CMSPageSettingsController, .cms-container .CMSPageHistoryController { margin-left: -1px; }
.cms-container .CMSSettingsController .cms-edit-form, .cms-container .CMSPageSettingsController .cms-edit-form, .cms-container .CMSPageHistoryController .cms-edit-form { background: #e6eaed; }
.cms-container .CMSSettingsController .cms-edit-form .ui-tabs-nav, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav { border-bottom: none; float: right; margin: 8px 0 -1px 0; padding: 0 24px 0 0; }
.cms-container .CMSSettingsController .cms-edit-form .ui-tabs-nav li, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav li, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav li { float: left; }
.cms-container .CMSSettingsController .cms-edit-form .ui-tabs-nav li a, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav li a, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav li a { font-weight: bold; line-height: 16px; padding: 8px 20px 8px; }
.cms-container .CMSSettingsController .cms-edit-form .ui-tabs-nav .ui-state-default, .cms-container .CMSPageEditController .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-default, .cms-container .CMSPageEditController .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-default, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav .ui-state-default, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-default, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-default, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav .ui-state-default, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-default, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-default { border: 1px solid #c0c0c2; }
.cms-container .CMSSettingsController .cms-edit-form .ui-tabs-nav .ui-state-active, .cms-container .CMSPageEditController .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-active, .cms-container .CMSPageEditController .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-active, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav .ui-state-active, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-active, .cms-container .CMSPageSettingsController .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-active, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav .ui-state-active, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-active, .cms-container .CMSPageHistoryController .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-active { padding-bottom: 1px; background: #e6eaed; border: 1px solid #c0c0c2; }
.cms-container .CMSSettingsController .ss-tabset .ss-tabset, .cms-container .CMSPageSettingsController .ss-tabset .ss-tabset, .cms-container .CMSPageHistoryController .ss-tabset .ss-tabset { position: static; }
.cms-container .CMSSettingsController .ss-tabset .ui-tabs-nav ~ .ui-tabs-panel, .cms-container .CMSPageSettingsController .ss-tabset .ui-tabs-nav ~ .ui-tabs-panel, .cms-container .CMSPageHistoryController .ss-tabset .ui-tabs-nav ~ .ui-tabs-panel { background: #e6eaed; border-top: 1px solid #c0c0c2; clear: both; }
.cms-container .CMSSettingsController .ss-tabset.ss-tabset-tabshidden .ui-tabs-panel, .cms-container .CMSPageSettingsController .ss-tabset.ss-tabset-tabshidden .ui-tabs-panel, .cms-container .CMSPageHistoryController .ss-tabset.ss-tabset-tabshidden .ui-tabs-panel { border-top: none; }


.cms .cms-panel-padded .ui-tabs-panel .ss-tabset .ui-tabs-panel{
	padding: 1em 1.4em;
}

@media all and (max-width: 1200px) {

	div.half.last{
		margin-left: 184px;
	}
	
}


